
//colors
$primary-color: #F4E7D4;
$secondary-color: #0C0C0C;
$black: #000000;

//font sizes:
$h1: 40px;
$h2: 40px;
$h3: 20px;
$h4: 16px;
$p: 16px;

//misc
$border-radius: 8px;
$default-inset-shadow: 2px 4px 4px 0 rgba($black, 0.25) inset;
$default-shadow-25: 2px 4px 4px 0 rgba($black, 0.25);
$default-shadow-50: 2px 4px 4px 0 rgba($black, 0.5);
$default-shadow-100: 2px 4px 4px 0 rgba($black, 1);