@use 'variables';

.accessTokenContainer {
  border-radius: variables.$border-radius;
  background-color: rgba(variables.$secondary-color, 0.8);
  box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.25);

  width: 300px;
  color: variables.$primary-color;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 10px;

  * {
    padding: 0;
  }

  .accessTokenContainerHeader {
    span {
      flex: 0 0 auto;
      font-family: 'Montserrat', sans-serif;
      font-weight: 600;
    }
  }

  .accessTokenContainerBody {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    input {
      height:25px;
      padding:0 5px;
      min-width: 0;
      flex: 1 1 auto;
      background-color: rgba(variables.$primary-color, 0.2);
      border: none;
      color: variables.$primary-color;
      box-shadow: variables.$default-inset-shadow;
      font-family: 'Montserrat', sans-serif;
      transition: all 0.2s ease-in-out;
      border-radius: variables.$border-radius;

      &:focus {
        outline: none;
      }

      &:hover {
        background-color: rgba(variables.$primary-color, 0.25);
      }
    }

    button {
      flex: 0 0 auto;
      border: none;
      border-radius: variables.$border-radius;
      background-color: transparent;
      color: inherit;
      cursor: pointer;
      width: 50px;
    }
  }
}