@use 'variables' as v;

@media (max-width: 1100px) {

  .mainWrapper {
    .innerWrapper {
      .infoTop {
        flex-direction: column;
        margin: 0 20px;
        align-items:center !important;
        p {
          width:100%;
        }
      }
      > h1 {
        margin: 0 20px !important;
      }
      > p {
        margin: 0 20px !important;
      }
    }
  }

}

.mainWrapper {
  $horizontal-padding: 30px;
  min-height: calc(100vh - ($horizontal-padding * 2));
  max-width: 900px;
  margin: 0 auto;
  padding: $horizontal-padding 0;
  font-family: 'Montserrat', sans-serif;
  color: v.$primary-color;
  display: flex;
  flex-direction: column;
  gap: 20px;

    h1 {
      font-size: v.$h1;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0;
    }

    p {
      font-size: v.$p;
      font-style: normal;
      font-weight: 400;
      line-height: 2.5;
      margin: 0;
    }

    .infoTop {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      gap: 20px;

      .buttonWrapper{
        display:flex;
        flex-direction:column;
        gap: 10px;
      }
    }

    a {
      color: inherit;
      text-decoration: none;
      font-weight: 700;
    }
  }