
//colors
$primary-color: #F3E6D3;
$secondary-color: #0C0C0C;
$black: #0D0D0D;
$highlight-color-1: #7ece78;
$highlight-color-2: #9f48cb;

//font sizes:
$h1: 30px;
$h3: 20px;
$h4: 18px;
$p: 16px;

//font weights:
$thin: 400;
$medium: 600;
$bold: 700;

//misc
$border-radius: 8px;
$default-inset-shadow: 2px 4px 4px 0 rgba($black, 0.25) inset;
$default-shadow-25: 2px 4px 4px 0 rgba($black, 0.25);
$default-shadow-50: 2px 4px 4px 0 rgba($black, 0.5);
$default-shadow-100: 2px 4px 4px 0 rgba($black, 1);