@use 'variables' as v;

.mainWrapperAgents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
  background-color: v.$black;
  $border: 1px;
  align-items: center;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 15px;
  position: relative;
  gap: 10px;
  $size: 30px;

  --font-size: #{$size};
  --font-size-l: #{$size * 1.2};
  @media (max-width: 720px) {
    padding: 15px;
    --font-size: #{$size * 0.8};
    --font-size-l: #{$size * 1};
  }
  @media (max-width: 600px) {
    padding: 12px;
    --font-size: #{$size * 0.64};
    --font-size-l: #{$size * 0.8};
  }
  @media (max-width: 480px) {
    padding: 8px;
    --font-size: #{$size * 0.56};
    --font-size-l: #{$size * 0.7};
  }
  @media (max-width: 410px) {
    padding: 4px;
    --font-size: #{$size * 0.48};
    --font-size-l: #{$size * 0.6};
  }
  @media (max-width: 350px) {
    padding: 4px;
    --font-size: #{$size * 0.4};
    --font-size-l: #{$size * 0.5};
  }
  @media (max-width: 310px) {
    padding: 4px;
    --font-size: #{$size * 0.36};
    --font-size-l: #{$size * 0.45};
  }

  div {
    font-size: var(--font-size);

    .agentGPTLogo {
      white-space: nowrap;
      margin: 0 5px;
      padding: 0 5px;

      img {
        display: inline-block;
        height: var(--font-size);
        margin-right: 5px;
      }

      .agentSpan {
        color: #C0C0C0;
      }

      .gptSpan {
        color: #FFFFFF;
      }

      font-weight: 700;
      font-size: var(--font-size-l);
      font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    }
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(170deg, v.$highlight-color-1, v.$highlight-color-2);
  }
}