@use 'variables' as v;

.mainWrapperChat {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: v.$black;
  $border: 1px;
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid $border transparent;
  border-radius: 15px;
  position: relative;
  gap: 30px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -$border;
    border-radius: inherit;
    background: linear-gradient(170deg, #27F06B, #C72CA5);
  }

  & > div {
    display: flex;
    flex-direction: column;
    border: 0.5px solid rgba(v.$primary-color, 0.2);
    border-radius: 8px;
    padding: 17.5px;
    gap: 20px;
  }

  .chatWrapper {
    .chatBody {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 20px 0;

      .chatMessage {
        display: flex;
        flex-direction: row;
        align-items: start;
        gap: 10px;
        padding: 10px;

        img {
          margin: 2px;
          padding: 3px;
          border-radius: 5px;
          border: 0.5px solid rgba(v.$primary-color, 0.2);
        }

        p {
          margin: 0;
        }
      }
      .humanMessage {
        background-color: #fff;
        color: v.$secondary-color;
        margin-left: 150px;
        border-radius: 10px 10px 0 10px;
        align-self: flex-end;
      }
      .sidgptMessage, .chatgptMessage {
        margin-right: 50px;
      }
    }
  }

  .chatInput {
    width: 100%;

    .chatInputField {
      border: 0.5px solid rgba(v.$primary-color, 0.2);
      border-radius: 8px;
      padding: 10px;
      display: flex;
      flex-direction: row;
      align-items: center;

      input {
        font-size: v.$p;
        flex: 1;
        outline: none;
      }

      button {
        flex: 0;

      }
    }
  }
}
