@use 'variables' as v;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import 'mixins';

body {
  background-color: v.$black;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

input, textarea {
  border: none;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  overflow-y: hidden;
  resize: none;
}

mark {
  position: relative;
  border-radius: 4px;
  padding-left: 3px;
  padding-right: 3px;

  &.mark-1 {
    background: v.$highlight-color-1;
  }

  &.mark-2 {
    background: v.$highlight-color-2;
  }
}


  //&.mark-purple {
  //  $color: purple;
  //  --hover-color: $color;
  //  background: rgba($color, 0.5);
  //
  //  &:hover {
  //    background: $color;
  //  }
  //}
  //
  //&::after {
  //  content: attr(data-tooltip); // Get the tooltip text from a data-tooltip attribute on the mark element
  //  display: none; // Initially hidden
  //  position: absolute;
  //  transform: translateX(-50%) translateY(-110%); // This will ensure the tooltip is centered
  //  top: 0;
  //  left: 0;
  //  padding: 5px 10px;
  //  border-radius: 4px;
  //  background-color: rgba(0, 0, 0, 0.7); // Semi-transparent black
  //  color: white;
  //  white-space: nowrap; // Prevents the tooltip text from wrapping
  //  @include font-size(v.$tooltip-font-size, v.$mobile-tooltip-font-size);
  //  z-index: 1000;
  //}
  //
  //&:hover::after {
  //  display: block; // Show the tooltip on hover
  //}
