@use 'variables' as v;

.mainWrapper {
  $horizontal-padding: 1px;
  min-height: calc(100vh - ($horizontal-padding * 2));
  max-width: 900px;
  margin: 0 auto;
  padding: $horizontal-padding 0px;
  font-family: 'Montserrat', sans-serif;
  color: v.$primary-color;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .taskContainer {
    gap: 10px;
    margin: 0 auto;
    text-align: center;

    .taskTemplate {


      @media (max-width: 420px) {
        width:100%;
        border-radius: 8px;
        padding: 10px;
      }

      text-align: center;
      margin-right: 8px;
      margin-bottom: 8px;
      border: 0.5px solid rgba(v.$primary-color, 0.25);
      border-radius: 4px;
      padding: 5px 10px;
      transition: background-color 150ms ease-in-out;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      font-size: v.$h4;

      span {
        @media (max-width: 420px) {
          margin-left:25px;
        }
        &:first-child {
          width: 22px;
          height: 22px;
          margin-right: 8px;
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
        }

        &:last-child {
        }
      }

      &:hover {
        background-color: rgba(v.$primary-color, 0.15);
      }

    }
  }
}



