@use 'variables' as v;
@import 'mixins';
.mainWrapper {
  $horizontal-padding: 1px;
  min-height: calc(100vh - ($horizontal-padding * 2));
  max-width: 900px;
  margin: 0 auto;
  padding: $horizontal-padding 0px;
  font-family: 'Montserrat', sans-serif;
  color: v.$primary-color;
  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 420px) {
    gap: 10px;
  }

  .taskContainer {
    gap: 10px;
    margin: 0 auto;
    text-align: center;
    @media (max-width: 420px) {
      display: flex;
      flex-direction: row;
      overflow-x: auto;
      width: 100%;

      &::-webkit-scrollbar {
        display:none;
      }
    }

    .taskTemplate {


      @media (max-width: 420px) {
        padding: 10px 20px;
        white-space: nowrap;
        border-radius: 50px;
        &:last-child {
        }
        &:first-child {
        }
      }

      text-align: center;
      margin-right: 8px;
      margin-bottom: 8px;
      border: 0.5px solid rgba(v.$primary-color, 0.25);
      border-radius: 4px;
      padding: 5px 10px;
      transition: background-color 150ms ease-in-out;
      display: inline-flex;
      flex-direction: row;
      align-items: center;
      @include font-size(v.$h4, v.$mobile-h4);

      span {
        &:first-child {
          width: 22px;
          height: 22px;
          margin-right: 10px;
          @media (max-width: 420px) {
            width: 25px;
            height: 25px;
            margin-right: 20px;
          }
          background-repeat: no-repeat;
          background-size: contain;
          display: inline-block;
        }

        &:last-child {
        }
      }

      &:hover {
        background-color: rgba(v.$primary-color, 0.15);
      }

    }
  }
}



